<main class="container-md">
    <section class="jumbotron text-center rounded-pill bg-danger text-light shadow-lg">
        <h1 class="display-4>">Nom Nom Burgers!</h1>
        <hr class="mt-4 mb-1 border-success">
        <hr class="my-1 border-primary">
        <hr class="mb-4 mt-1 border-warning">
        <div class="input-group input-group-lg px-5">
            <div class="input-group-prepend">
                <button class="btn btn-primary" type="button" id="makeBurger">Submit</button>
            </div>
            <input type="text" class="form-control" id="burgerInput" placeholder="Place Your Order Here">
        </div>
    </section>
    <div class="d-flex justify-content-around">
        <section>
            <h2>Order Up!</h2>
            <ul class="list-group">
                {{#each burgers}}
                {{#unless devoured}}
                <li class="list-group-item rounded-pill bg-danger text-white shadow border-0 my-1 text-center">
                    <p>
                        {{this.id}}. {{this.burger_name}}
                    </p>
                        <button class="btn btn-primary" id="eatBurger" data-id="{{id}}">Devour it!</button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </section>

        <section>
            <h2>Nom nom nom!</h2>
            <ul class="list-group">
                {{#each burgers}}
                {{#if devoured}}
                <li class="list-group-item rounded-pill bg-danger text-white shadow border-0 my-1 text-center">
                    <p>
                        {{this.id}}. {{this.burger_name}}
                    </p>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </section>

    </div>
</main>
<script>
    $("#makeBurger").on("click", function () {
        let newBurger = {
            name: $("#burgerInput").val().trim()
        };
        console.log(newBurger);
        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(function () {
            console.log("created a new burger!");
            location.reload();
        });
    });

    $("#eatBurger").on("click", function () {
        let id = $(this).data("id");
        console.log(id);

        $.ajax("/api/burgers/" + id, {
            type: "PUT"
        }).then(function() {
            console.log("NOM NOM NOM!" + id);
            location.reload();
        });
    });

</script>